<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Websocket Example</title>
    <link href="css/style.css" rel="stylesheet"/>
  </head>
  <body>

    <h1>Room Name   : {{roomname}}</h1>
    <h1>Endpoint Id : {{endpointid}}</h1>
    <div class="serveroutput">
      <!-- Output -->
    </div>

    <br />
    <!-- Send to server via websocket -->
    <input class="clientinput" placeholder="please type some stuff to send via websocket... "/>
    <!-- Submit Button -->
    <button class="submit">Submit</button>


    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="comms.js" type="text/javascript"></script>
    <script src="chatroom.js"   type="text/javascript"></script> -->
    <script type="text/javascript">

      // Globals
      var input = document.querySelector('.clientinput');
      var output = document.querySelector('.serveroutput');
      var submit = document.querySelector('.submit');


      // var myComms = new Comms(endpointId, roomId);
      // myComms.registerHandler('CHAT', 'REGISTER', registerMySelf)
      //
      //
      // function registerMySelf(handler, from, message) {
      //
      //
      // }

      var socket = io();
      socket.on('global message', function (msg){
        var elt = document.createElement('p');
            elt.innerHTML = msg;
         output.appendChild(elt)
      })

      submit.addEventListener('click', function(){
        socket.emit('private message', input.value);
        input.value = "";
      })

    </script>
  </body>
</html>
